@media (max-width: 1300px) {
  .header-right {
      display: none;
  }
  .menu-icon {
      display: block !important;
      font-size: 30px;
      padding: 20px 90px;
  }
}


/* media query for smartphone screens */
@media (max-width: 768px) {
  .header {
    justify-content: space-between; /* 均等配置 */
    padding: 0 10px; /* 左右のパディング調整 */
}

.header-left, .header-center, .menu-icon {
    width: 33%; /* 各要素の幅を均等に設定 */
}

.header-left {
    font-size: 20px;
    margin-left: 10px; /* スマホサイズでは左マージンをゼロに */
    letter-spacing: 1px;
    white-space: nowrap;
}

 .header-center {
    padding-left: 50px;
 } 

.logo {
    height: 60px !important; /* スマートフォンサイズに合わせてロゴの高さを調整 */
    margin-left: auto;
    
}

.header-right {
    display: none; /* スマホサイズでは非表示 */
}

.menu-icon {
    display: block; /* スマホサイズで表示 */
    font-size: 20px;
    text-align: right; /* アイコンを右揃え */
}

.sidenav {
    padding-top: 30px; /* サイドナビのパディングを調整 */
}

  
  #top-img {
    height: auto;
    max-height: 50vh; /* Adjust as needed */
  }

  .home-wrapper {
    height: auto;
  }

  .home-wrapper h1 {
    font-size: 8vw; 
  }

  .home-wrapper p {
    font-size: 4vw; 
  }

  .match-wrapper {
    padding: 40px 0; 
  }

  .top-wrapper h1 {
      font-size: 32px;
  }

  .footer-left h2 {
    font-size: 18px;
  }
  
  .container {
      padding: 0 20px;
  }

  .sidenav a {
      font-size: 16px;
  }

  .sidenav .closebtn {
      font-size: 20px;
  }

  input, textarea {
      width: 90%;
      font-size: 16px;
  }

  .submit {
      padding: 12px 30px;
      font-size: 16px;
  }

  .form-title {
      font-size: 24px;
  }

  .form-item {
      font-size: 16px;
  }

  .display-contact {
      width: 90%;
      padding: 30px;
  }

  .news-title {
    font-size: 20px;
  }

  .news-date {
    font-size: 18px;
  }

  .contents {
    font-size: 18px;
  }

  .number {
    font-size: 20px;
  }
  .position {
    font-size: 18px;
  }

  th,td {
    font-size: 14px;
  }

  .txt-content {
    font-size: 18px;
  }
  .title {
      font-size: 16px;
  }
  .news-dates {
    font-size: 16px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .heading h3 {
      font-size: 18px; 
  }

  .match-title {
      font-size: 20px; 
  }

  .date {
    font-size: 18px;
  }

  .place {
    font-size: 18px;
  }
  .team-name {
    font-size: 18px;
  }

  .match-detail {
    font-size: 20px;
  }

  .detail-wrapper p {
      font-size: 18px; 
  }

  .photos img {
      flex: 1 1 calc(50% - 20px); /* スマホでは1行に2つの画像が表示されるように設定 */
      max-width: calc(50% - 20px); /* 親要素の幅に対して各画像の最大幅を設定（余白を考慮） */
  }

  .boxNameJP {
    font-size: 10px;
  }

  .boxNameEn {
    font-size: 10px;
  }

  .match-titles{
    font-size: 18px;
  }
  .match-date{
    font-size: 16px;
  }
  .teams-name{
    font-size: 16px;
  }
  .score {
    font-size: 18px;
  }

  .swiper-slide {
    width: 100%; /* モバイル表示での幅調整 */
}

.detail-wrapper {
    flex: 1;
    overflow: auto; /* 必要に応じて調整 */
}

.footer {
    margin-top: auto;
}
}

/* スマートフォン用の調整 */
@media screen and (max-width: 768px) {
  .l-section {
    padding-top: 4rem; /* スマートフォン用の上部パディング調整 */
  }
  
  .txt-content {
    padding: 8px; /* スマートフォン用のテキストコンテンツのパディング調整 */
  }
}