html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;   
}

header {
    height: 80px;
    width: 100%;
    position: relative;
    top: auto;
    
    z-index: 10;
    background-color: rgba(34, 49, 52, 0.9 );
}
.header-left a {
  color: #fff;
}
.header-left {
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    letter-spacing: 3px;
}
.header-right  {
    float: right;
    margin-right: -25px;
}
.menu-list  {
    float:left;
}
.menu-list a {
    color:#fff;
    display: block;
    line-height: 80px;
    padding: 0 15px;
    transition: all 0.5s;
}
.menu-list a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.drop-lists {
    position:absolute;
    top: 55px;
    display: none;
}
.drop-list {
    display: block;
}
.menu-list:hover .drop-lists {
    display: block;
}
.league_table-wrapper {
  padding-bottom: 100px;
  text-align: center;
  background-color: #f7f7f7;
}
.heading {
  padding: 100px 0 50px 0;
}
.heading h1 {
  font-size: 45px;
}
.heading p {
  font-size: 24px;
  letter-spacing: 3px;
}
table {
 width:1200px;
 margin: auto;
 border-collapse: collapse;
 background-color: rgb(235, 235, 235);
}
th {
  background-color :black;
  color:#fff;
}
th,td {
  border: 1px solid #fff;
  padding: 10px;
  letter-spacing: 1px;
  height: 40px;
}
.rank {
  color: black;
  background-color: rgb(215, 214, 214);
}
.rank-1 {
  color:black;
  background-color: orange;
}
.box {
  float: left;
  margin-top: 15px;
}
.box::before {
  content: "■";
  color: orange;
  font-size: 18px;
  margin-right: 10px;
}
footer {
  height: 100px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  color:#fff
}
.footer-left {
  float: left;
  padding: 5px 0;
}
.footer-left span {
  font-size: 12px;
} 
.team:hover .culb {
  display:inline
}