html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;   
}

header {
    height: 80px;
    width: 100%;
    position: relative;
    top: auto;
    
    z-index: 10;
    background-color: rgba(34, 49, 52, 0.9 );
}
.header-left a {
    color: #fff;
}
.header-left {
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    letter-spacing: 3px;
}
.header-right  {
    float: right;
    margin-right: -25px;
}
.menu-list  {
    float:left;
}
.menu-list a {
    color:#fff;
    display: block;
    line-height: 80px;
    padding: 0 15px;
    transition: all 0.5s;
}
.menu-list a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.drop-lists {
    position:absolute;
    top: 55px;
    display: none;
}
.drop-list {
    display: block;
}
.menu-list:hover .drop-lists {
    display: block;
}
.heading {
    text-align: center;
    padding: 80px 0 50px 0;
    color:#5f5d60;
}
.heading h2 {
    font-size: 45px;
}
.heading p {
    font-size: 18px;
}
.match-title {
    font-size: 18px;
    color: #5f5d60;
}
.date {
    text-align: center;
    font-size: 40px;
    color: #5f5d60;
}
.place  {
    display: block;
    text-align: center;
    font-size: 28px;
    color:#5f5d60;
}
.match-table {
    color:#5f5d60;
    text-align: center;
    border-top: 2px solid #5f5d60;
    border-bottom: 2px solid #5f5d60;
    margin: 60px 0;
    padding: 60px 0;
}
.team-name {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 40px;
}
.total-score {
    display:inline-block;
    font-size: 60px;
    letter-spacing: 1px;
    margin: 0 40px 0 50px;
    
}
.half-score {
    display: block;
    font-size: 18px;
    letter-spacing: 3px;
}
.match-detail {
    color:#5f5d60;
    font-size: 28px;
    display: inline-block;
    margin-top: 20px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    color:#fff
}
.footer-left {
    float: left;
    padding: 5px 0;
}
.footer-left span {
    font-size: 12px;
} 
.team:hover .culb {
    display:inline
}