html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;   
}

header {
    height: 80px;
    width: 100%;
    position: relative;
    top: auto;
    
    z-index: 10;
    background-color: rgba(34, 49, 52, 0.9 );
}
.header-left a {
    color: #fff;
}
.header-left {
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    letter-spacing: 3px;
}
.header-right  {
    float: right;
    margin-right: -25px;
}
.menu-list  {
    float:left;
}
.menu-list a {
    color:#fff;
    display: block;
    line-height: 80px;
    padding: 0 15px;
    transition: all 0.5s;
}
.menu-list a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.drop-lists {
    position:absolute;
    top: 55px;
    display: none;
}
.drop-list {
    display: block;
}
.menu-list:hover .drop-lists {
    display: block;
}
.top-wrapper {
    padding: 50px 0 40px 0;
    background-color: rgba(11, 17, 18, 0.7);
    background-size: cover;
    text-align: center;
    color:#fff;
    
}
.top-wrapper h1 {
    font-size: 40px;
    opacity: 0.8;
}
.players-wrapper {
    padding-bottom: 80px;
    background-color: #f7f7f7; 
}
.heading {
    text-align: center;
    padding: 80px 0 50px 0;
    color:#5f5d60;
    font-size: 45px;
}
h3 {
    text-align: center;
    border: 1px solid #5f5d60;
    background-color: rgba(34, 49, 52, 0.9);
    color: #fff;
    padding: 10px 0;
    margin-bottom: 60px;
    letter-spacing: 2px;
}
.playerList__item {
    display: inline-block;
    width: 33%;
    
    position: relative;

}
.playerList__item__boxImg img {
    border:  1px solid #5f5d60;
    width:360px;
}

.playerList__item__boxNum {
    position: absolute;
    top: 5px;
    left: 5px;
   
}
.number  {
    font-style: italic;
    color:#5f5d60;
    font-size: 50px;
}
.position {
    font-style: italic;
    color:#5f5d60;
    font-size: 30px;
    margin-left: 3px;
}
.playerList__item__boxNames {
    position: relative;
    bottom: 80px;
    left: 10px;

}
.boxNameJp {
    font-size: 30px;
    color:#5f5d60;
}
.boxNameEn {
    font-style:italic;
    font-size: 15px;
    color:#5f5d60;
}


footer {
    height: 100px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    color:#fff
}
.footer-left {
    float: left;
    padding: 5px 0;
}
.footer-left span {
    font-size: 12px;
} 